.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.producto{
    border: 1px solid black;
    width: 40%;
    margin: 10px;
    text-align: center;
    cursor: pointer;
}
hr{
    width: 10%;
}