<div class="container">
  <h1>Lista de personajes</h1>
  <div class="row">
    <h2>Páginas: {{numPages}}</h2>
    <h2>Numero de página: {{pageNumber}}</h2>
    <button *ngIf="pageNumber != 1" class="btn btn-primary" (click)="onClickBack()">Anterior</button>
    <button *ngIf="pageNumber != numPages" class="btn btn-primary" (click)="onClickNext()">Siguiente</button>
    <div class="col-3" *ngFor="let p of personajes">
      <div [ngClass]="{
        vivo: (p.status=='Alive'),
        muerto: (p.status=='Dead')}" class="personaje">
        <h3>{{p.name}}</h3>
        <img src="{{p.image}}">
      </div>
    </div>
  </div>
</div>