.cuadrado{
    width: 500px;
    height: 250px;
    background-color: orange;
    padding: 10px;
    justify-content: left;

}
.cuadrado button{
    width: 100%;
    height: 40px;
    margin-top: 20px;
}
.cuadrado input{
    height: 20px;
    width: 75%;
}
p{
    height: 20px;
    text-align: left;
    line-height: 100%;
}

