<button (click)="onClickUpdate()">Actualizar Post</button>
<button (click)="onClickDelete()">Borrar Post</button>
<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div>
    <label>Título</label>
    <input type="text" formControlName="title">
  </div>
  <div>
    <label>Cuerpo</label>
    <input type="text" formControlName="body">
  </div>
  <div>
    <label>User ID</label>
    <input type="text" formControlName="userId">
  </div>
  <input type="submit" value="Enviar">
</form>
<button class="btn btn-primary" (click)="onPeticionPost()">Petición POST</button>
<div class="post">
  <h1>{{postFound.title}}</h1>
</div>
<div class="posts" *ngFor="let p of arrayPost" (click)="onClick(p.id)">
  <div class="post">
    <h3>{{p.title}}</h3>
    <h5>{{p.body}}</h5>
  </div>
</div>
