.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.post {
    border: 1px solid black;
    width: 400px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.post h3 {
    text-align: center;
}