<!--div [ngClass]="{semaforo: true, redondo: true, rojo: (colorSeleccionado === 'r'), amarillo: (colorSeleccionado === 'a'), verde: (colorSeleccionado === 'v')}">

</div> -->
<!--p *ngIf="mostrar; then mainBlock else elseBlock">Contendio del párrafo</p>
<ng-template #mainBlock>
    <p>Contenido del primer párrafo</p>
</ng-template>
<ng-template #elseBlock>
    <p>Contenido del segundo párrafo</p>
</ng-template-->
<!--p *ngIf="mostrar">Contenido del primer párrafo</p>
<p *ngIf="!mostrar">Contenido del segundo párrafo</p>
<button (click)="OnClickMostrar()">Mostrar / Ocultar</button-->
