.tareas{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}
.tarea{
    border: 1px solid black;
    width: 40%;
    padding: 20px;
    margin: 10px;
    background-color: red;
}
.rojo{
    background-color: red;
}
.verde{
    background-color: green;
}